<!doctype html>
<html lang="en">
  <head>
    <title>{{site.title}} {{site.version}} | {{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="favicon.ico">
    <!-- build:css css/pxh-chrome.css -->
    <link rel="stylesheet" href="css/pxh-chrome.css">
    <!-- endbuild -->
  </head>
  <body class="{{bodyClass}}">
    {{> overlay }}
    {{> view-header-drawer-toggle }}
    {{{contents}}}
  </body>
</html>
